.popup__close {
    background-color: transparent;
    background-image: url(../../../images/CloseIcon.svg);
    position: absolute;
    right: -40px;
    top: -40px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
}

.popup__close:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.4s;
}

@media (max-width: 425px) {
    .popup__close {
        background-image: url(../../../images/CloseIcon-S.svg);
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}