.header__link-out {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 0.22;
    color: #A9A9A9;
    align-self: center;
    cursor: pointer;
    text-decoration: none;
    align-self: center;
}

.header__link-out:hover {
    opacity: 0.8;
    transition: 0.4s;
}

@media (max-width: 530px) {
    .header__link-out {
        font-size: 18px;
        line-height: 22px;
    }
}