.header__email {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    align-self: center;
}

@media (max-width: 768px) {
    .header__email {
        max-width: 280px;
    }
}

@media (max-width: 530px) {
    .header__email {
        font-size: 18px;
        line-height: 22px;
    }
}