.form__title {
    margin: 0;
    padding: 34px 0 54px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    text-align: center;
}

@media (max-width: 600px) {
    .form__title {
        padding-top: 25px;
        padding-bottom: 62px;
        font-size: 18px;
        line-height: 22px;
    }
}